<h2 mal-dialog-title>{{tituloAccion}} Hijo</h2>

<mat-dialog-content>
    <form [formGroup]="formularioHijo">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Paterno:</mat-label>
                    <input matInput autocomplete="off" formControlName="apellidoPaterno">
                    <mat-icon matSuffix>acount-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Materno:</mat-label>
                    <input matInput autocomplete="off" formControlName="apellidoMaterno">
                    <mat-icon matSuffix>acount-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Primer Nombre:</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre1">
                    <mat-icon matSuffix>acount-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Segundo Nombre:</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre2">
                    <mat-icon matSuffix>acount-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo Documento:</mat-label>
                    <mat-select formControlName="idtipdoc">
                        <mat-option *ngFor="let item of listaTipoDocumentos" [value]="item.idtipodoc">
                            {{item.abrevtipodoc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nro.Documento:</mat-label>
                    <input matInput autocomplete="off" formControlName="nrodocumento">
                    <mat-icon matSuffix>acount-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="pickerFecNacimiento" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerFecNacimiento"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFecNacimiento></mat-datepicker>
                  </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" [disabled]="formularioHijo.invalid" 
    (click)="guardarEditar_Hijo()">{{botonAccion}}</button>
</mat-dialog-actions>