<h1 style="margin: 20px 0px 0px 40px">Lista de Hijos</h1>

<mat-card style="margin: 20px 40px 40px 40px">
    <mat-card-title style="padding: 16px;">
        <button mat-raised-button color="primary" (click)="nuevoHijo(0)">
            <mat-icon mat-list-icon>add</mat-icon> Agregar Hijo
        </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="dashboard-card-content">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataListaHijo">
                <ng-container matColumnDef="idhijo">
                    <th mat-header-cell *matHeaderCellDef>Nro.</th>
                    <td mat-cell *matCellDef="let element">{{element.idhijo}}</td>
                </ng-container>
                <ng-container matColumnDef="nombrecompleto">
                    <th mat-header-cell *matHeaderCellDef>Nombres Completos</th>
                    <td mat-cell *matCellDef="let element">{{element.nombrecompleto}}</td>
                </ng-container>
                <ng-container matColumnDef="fecnacimiento">
                    <th mat-header-cell *matHeaderCellDef>F.Nacimiento</th>
                    <td mat-cell *matCellDef="let element">{{element.fecnacimiento}}</td>
                </ng-container>
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;">Editar</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="editarHijo(element.idhijo)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;">Eliminar</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="eliminarHijo(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
                <tr mat-row *matRowDef="let row; columns:columnasTabla;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                </tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-footer style="padding: 16px;">
        <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>home</mat-icon> Volver
        </button>
    </mat-card-footer>
</mat-card>